<h3 class="m-3">Commandes</h3>
<div class="w-50 m-auto mt-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Produits</th>
                <th scope="col">Date Création</th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">1</th>
                <td>Mark</td>

                <td>@mdo</td>

            </tr>

        </tbody>
    </table>
</div>