<div class="w-50 m-auto mt-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col" class="w-50">Description</th>
                <th scope="col">Prix</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produit of listProduits">
                <th scope="row">{{produit.id}}</th>
                <td>{{produit.titre}}</td>
                <td>{{produit.description}}</td>
                <td>{{produit.prix}}</td>
                <td>
                    <button (click)="deleteProduit(produit.id)" class="btn btn-danger mx-1">Supprimer</button>
                    <button (click)="modifierProduit(produit.id)" class="btn btn-info mx-1">Modifier</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>